NEXT_PUBLIC_APP_NAME=RogueRoute GPX
ROUTER_MODE=valhalla
VALHALLA_URL=http://valhalla:8002
PORT=9080
HOST_PORT=9080
VALHALLA_DATA_PATH=/mnt/h/Valhalla
VALHALLA_PREFER_PBF_REBUILD=true
VALHALLA_SMART_REPAIR=true
